.chat-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 250px); /* Ensure the chat area takes up the full width minus the sidebar width */
    flex: 1; 
    overflow-x: hidden; 
  }
  
  .message-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    word-wrap: break-word; 
    width: 99%; 
  }
  
  .chat-input {
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .chat-area {
      width: 100vw; 
  }

  .message-container {
      width: 100%; 
  }
}

@media (max-width: 480px) {
  .chat-area {
      width: 100vw; 
  }

  .message-container {
      width: 100%; 
      padding: 5px; 
  }

  .chat-input {
      padding: 5px; 
  }
}


