.Bubble {
    border-radius: 20px;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
}

.sender {
    background-color: #27496D;
    border-bottom-right-radius: 0px;
    align-self: flex-end;
}

.receiver {
    background-color: #21303b;
    border-bottom-left-radius: 0px;
    align-self: flex-start;
}

.BubbleText {
    padding: 10px;
}

.metaData {
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 4px;
}

.senderName {
    color: #EFE9D5;
}

.timestamp {
    color: #405D72;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .Bubble {
        max-width: 70%;
    }
}

@media (max-width: 480px) {
    .Bubble {
        max-width: 90%; 
        margin: 10px; 
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

}